:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-width: 70%;
  max-width: 80%;
  min-height: 35dvh;
  background-color: #eee9df;
  border-radius: 24px;
  box-shadow: 5px 5px #2c3b4d;

  header {
    text-align: center;
    text-wrap: wrap;

    h2 {
      font-size: 1.4rem;
      margin: 0;
      padding: 0.4rem;
      color: #1b2632;
    }
  }

  .weather-data {
    p {
      text-align: center;
      margin: 0.5rem;
      color: #1b2632;
      .temperature {
        font-size: 2.3rem;
        font-weight: bold;
        color: #1b2632;
      }

      .unit-temperature {
        font-size: 1.5rem;
        color: #1b2632;
      }

      .feels-like {
        font-size: 1.7rem;
      }

      .unit-feels-like {
        font-size: 1.2rem;
      }
      .weather-code {
        font-size: 1rem;
      }
    }
  }

  button {
    background: none;
    border: none;
    margin: 0.5rem;

    img {
      height: auto;
    }
  }
}
