.weather-card {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 35vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(197, 197, 197);
  border-radius: 24px;
  box-shadow: 5px 5px rgb(83, 83, 83);
  position: relative;

  header {
    margin: 1rem;
    text-align: center;
    text-wrap: wrap;

    h2 {
      margin: 0;
      font-size: 1.4rem;
    }
  }

  .temperature {
    font-size: 2.5rem;
    font-weight: bold;
  }

  .feels-like {
    font-size: 2rem;
  }

  .unit {
    font-size: 1.7rem;
  }

  .weather-code {
    font-size: 1.3rem;
  }

  .weather-data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button {
    position: absolute;
    top: 0.8rem;
    right: 0.5rem;
    border: none;
    background: none;
    font-size: 2rem;
  }
}
