<article class="weather-card" (click)="onCardTapped()">
  <header>
    <h2>{{ cityName }}</h2>
  </header>

  <section class="weather-data">
    <p>
      <span class="temperature">{{ currentTemperature }}</span>
      <span class="unit">{{ temperatureUnit | temperatureUnitConversion }}</span>
    </p>
    <p>
      <span class="feels-like">{{ feelsLikeTemperature }}</span>
      <span class="unit">{{ temperatureUnit | temperatureUnitConversion }}</span>
    </p>
    <p>
      <span class="weather-code">{{ weatherCode | weatherCodeConversion: currentLanguage }}</span>
    </p>
  </section>
  @if (!isCitySaved) {
    <button (click)="onSaveCity(); $event.stopPropagation()">&#9825;</button>
  } @else {
    <button (click)="onSaveCity(); $event.stopPropagation()">&#9829;</button>
  }
</article>
