<header>
  <img
    ngSrc="icons/back_button_icon.svg"
    width="24"
    height="24"
    alt="back button"
    (click)="onBackToHomepage()"
  />
  <input
    (input)="onInputChange($event.target.value)"
    placeholder="Entrez le nom d'une ville"
    type="search"
  />
</header>

<main>
  @if (geocodingData$ | async; as geocodingData) {
    @for (city of geocodingData.results; track city.id) {
      <app-city-card [city]="city" (citySelected)="onSelectCity($event)" />
    }
  }

  <button (click)="onGetWeather()" type="button">Obtenir la météo</button>
</main>
