<article class="city-card-container" (click)="onCitySelected()">
  <section class="card">
    @if (city) {
      <img
        [ngSrc]="
          'https://hatscripts.github.io/circle-flags/flags/' +
          city.country_code.toLowerCase() +
          '.svg'
        "
        width="36"
        height="36"
        [alt]="city.name + ' flag'"
      />
      <p>{{ city.name }}</p>
    }
    @if (isSelected) {
      <span class="checkmark"
        ><img ngSrc="icons/checkmark-icon.svg" width="24" height="24" alt="selected city"
      /></span>
    }
  </section>
</article>
